page-maplocation {
    .map-warp {
        height : 100%;
    }
    .map {
        height : 100%;
        //background: url('../assets/img/pattern.png') repeat;
    }
    #map .marker {
        display   : inline;
        width     : auto;
        height    : auto;
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        p {
            /*  margin: -22px auto 0px; */
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            align-items     : center;
        }
        .pin {
            display            : block;
            content            : ' ';
            background         : rgba(15, 15, 15, 1);
            background         : -moz-linear-gradient(45deg, rgba(15, 15, 15, 1) 0%, rgba(133, 133, 133, 1) 42%, rgba(133, 133, 133, 1) 43%, rgba(133, 133, 133, 1) 46%, rgba(19, 19, 19, 1) 100%);
            background         : -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15, 15, 15, 1)), color-stop(42%, rgba(133, 133, 133, 1)), color-stop(43%, rgba(133, 133, 133, 1)), color-stop(46%, rgba(133, 133, 133, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
            background         : -webkit-linear-gradient(45deg, rgba(15, 15, 15, 1) 0%, rgba(133, 133, 133, 1) 42%, rgba(133, 133, 133, 1) 43%, rgba(133, 133, 133, 1) 46%, rgba(19, 19, 19, 1) 100%);
            background         : -o-linear-gradient(45deg, rgba(15, 15, 15, 1) 0%, rgba(133, 133, 133, 1) 42%, rgba(133, 133, 133, 1) 43%, rgba(133, 133, 133, 1) 46%, rgba(19, 19, 19, 1) 100%);
            background         : -ms-linear-gradient(45deg, rgba(15, 15, 15, 1) 0%, rgba(133, 133, 133, 1) 42%, rgba(133, 133, 133, 1) 43%, rgba(133, 133, 133, 1) 46%, rgba(19, 19, 19, 1) 100%);
            background         : linear-gradient(45deg, rgba(15, 15, 15, 1) 0%, rgba(133, 133, 133, 1) 42%, rgba(133, 133, 133, 1) 43%, rgba(133, 133, 133, 1) 46%, rgba(19, 19, 19, 1) 100%);
            filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0f0f', endColorstr='#131313', GradientType=1);
            width              : 24px;
            height             : 24px;
            border-radius      : 50%;
            border             : 1px solid #252526;
            z-index            : 2;
            -webkit-box-shadow : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow    : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow         : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
        }
        .bar {
            display            : block;
            content            : ' ';
            background-color   : #252526;
            height             : 28px;
            width              : 2px;
            z-index            : 2;
            -webkit-transform  : rotate(0deg);
            transform          : rotate(0deg);
            -webkit-box-shadow : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow    : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow         : 4px -5px 5px 0px rgba(0, 0, 0, 0.4);
        }
    }
    .loader {
        position          : relative;
        top               : -27px;
        z-index           : 1;
        border            : 1px solid #222;
        background        : rgba(0, 0, 0, 0.2);
        border-radius     : 50%;
        width             : 80px;
        height            : 60px;
        -webkit-animation : spin 1s linear infinite;
        animation         : spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform         : scale(0);
            -webkit-transform : scale(0);
            opacity           : 0;
        }
        100% {
            transform         : scale(1);
            -webkit-transform : scale(1);
            opacity           : 1;
        }
    }
    .searchbox-wrap {
        width      : 100%;
        background : transparent;
        border     : none;
        position   : fixed;
        top        : 95px;
        left       : 0px;
        z-index    : 15;
        .item-block:first-child,
        .item-block:last-child {
            border : none;
        }
        ion-item {
            padding    : 0px 10px;
            background : transparent;
        }
        .addrlists {
            padding          : 0px 5px;
            background-color : #FFF;
            width            : 90%;
        }
    }
    ion-searchbar,
    .searchbar-ios,
    .searchbar-md {
        padding : 5px;
    }
    ion-searchbar,
    .searchbar-ios.searchbar-left-aligned .searchbar-input,
    .searchbar-input {
        background : #FFF;
        font-size  : 14px;
        color      : #333;
    }
    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input {
        border        : 1px solid #DDD;
        border-radius : 3px;
        color         : #333;
        height        : 4.5rem;
        box-shadow    : 0px 2px 5px #888888;
    }
    .searchbar-ios .searchbar-search-icon {
        top : 16px;
    }
    .searchbar-md .searchbar-search-icon {
        top : 15px;
    }
    .searchbar-ios {
        border : none;
    }
}
