<ion-header class = "hm_bg_color hm_header">
  <button ion-button class = "hm_header_btn hm_float_left hm_back_icon" (click) = "goBack()"></button>
  <div class = "hm_search_header">
    Select address
  </div>
  <div class = "hm_clear"></div>
</ion-header>
<ion-content padding>
  <div class = "hm_service_listing" style = "padding-top:10px;">
    <h6>Choose Address</h6>
    <button class = "hm_add_address" (click) = "newaddress()">Add New Address<span>+</span></button>
    <br>
    <br>
    <hr>
    <h6>Saved Address</h6>
    <div class = "hm_cancel_pop_lower" style = "padding:0px;">
      <ul>
        <ion-list radio-group [(ngModel)] = "test">
          <ion-item *ngFor = 'let add of allAddress;'>
            <ion-label>{{add.Building}},{{add.Street}},{{add.City}},{{add.State}}<br>{{add.ZipCode}}</ion-label>
            <ion-radio value = '{{add.id}}' (click) = 'updateAddress(add)'></ion-radio>
          </ion-item>
        </ion-list>
        <!-- <li>
          <div class="hm_cancel_radio">
            <ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
          </div>
          <div class="hm_cancel_reason">
              285 -287, Jalan Tuanku Abdul Rahman <br>
              50100 Kuala Lumpur, Malaysia
          </div>
          <div class="hm_clear"></div>
        </li> -->
      </ul>
    </div>
  </div>
</ion-content>
<!-- <ion-footer>
	<div class="hm_btn_bottom" >
		<button class="hm_bottom_save1" (click)="updateAddress()">Done<span><img src="assets/img/hm_tick.png"></span></button>
	</div>
</ion-footer> -->
