page-profile {

.hm_bottom_save {
    height: 40px;
    color: #FFF;
    border-radius: 20px;
    background: #ea5192;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

}
