page-home {
    
    .custHeight {
        height : 94px !important;
    }
    .scroll-content {
        margin-top : 42px !important;
    }
    .hm_sign_bg {
   background: none!important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: cover !important;
}

.hm_menu_bay ul li img {
    width: 150px;
}
.hm_menu_bay ul li{padding: 4px;}
}
