page-massage {
    .hm_service_btn_2 {
        color         : #FFF;
        background    : #162D38 !important;
        border-radius : 20px !important;
        height        : 25px !important;
        padding-left  : 10px;
        width         : 25px;
        padding-right : 10px;
        text-align    : center !important;
        font-size     : 17px !important;
        font-weight   : 400 !important;
    }
}
