<ion-header class = "hm_bg_color hm_header">
  <div class = "hm_search_header">
    <ion-icon class = "backicon button icon-left ion-chevron-left button-clear button-dark backicon" name = "arrow-dropleft-circle" (click) = "goBack()" style = "font-family: Ionicons;font-size: 26px;
    padding: 4px 0px 4px 10px;
    color: #D0D0D0;"></ion-icon>
    <div class = "helpytop1" style = "    width: 41%;">
      <img src = "assets/img/helpywhite.png" style = "width: 43%;">
      <span style = "float: right; color: #D0D0D0; font-size: 18px; font-weight: 400;    margin-top: 2px;">Massage</span>
    </div>
  </div>
  <!--<button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goBack()"></button>
<div class="hm_search_header">
    <span style="font-size:16px;">
      <b> Helpy Massage </b>
    </span>
  </div>-->
  <!-- <span>
        <img src="assets/img/genders.png">
      </span> -->
  <!-- <button ion-button class="hm_header_btn hm_float_right hm_search_icon" (click)=goToHistory()>
     <img src="assets/img/history.png">
   </button>-->
  <div class = "hm_clear"></div>
</ion-header>
<ion-content class = "hm_sign_bg">
  <div class = "hm_services">
    <div class = "hm_service_content">
      <div class = "hm_service_list" style = "height:100%;width:100%;overflow:auto;" text-center>
        <ion-card text-center>
          <ion-item style = "margin-top:0px;">
            <ion-label>Select Location</ion-label>
            <ion-select [(ngModel)] = "location">
              <ion-option value = "a">Kuala Kualumpur</ion-option>
              <ion-option value = "b">Petaling Jaya</ion-option>
              <ion-option value = "c">Cheras</ion-option>
              <ion-option value = "d">Shah Alam</ion-option>
              <ion-option value = "e">Subang Jaya</ion-option>
              <ion-option value = "f">Damansara</ion-option>
              <ion-option value = "g">Klang</ion-option>
              <ion-option value = "m">Kelana Jaya</ion-option>
            </ion-select>
          </ion-item>
        </ion-card>
        <!-- <ul>
      
                    <li *ngFor='let value of SubMenuMassage; trackBy: index;' class="hm_border_top_none hm_border_left_none">
                      <div class="hm_service_div" (click)="showMoreMassage(value)">
                        <img src="{{value.category_image}}">
                        <p>{{value.category_name}}</p>
                      </div>
                    </li>
                    <div class="hm_clear"></div>
                  </ul> -->
        <ion-row>
          <ion-col *ngFor = 'let value of SubMenuMassage; trackBy: index;' style = "border:1px solid gray;" class = "hm_border_top_none hm_border_left_none"
                  style = "margin-left: 5px;">
            <div class = "hm_service_div" (click) = "showMoreMassage(value)">
              <img src = "{{value.category_image}}">
              <p>{{value.category_name}}</p>
            </div>
          </ion-col>
        </ion-row>
        <!-- <div *ngIf="showHideMassage">
          <div style="width: 100%;height: 120px;margin-top: 26px;">
            <ul>
              <li *ngFor='let subChild of subChildMassage; trackBy: index;'>
                <div class="hm_service_div" (click)="showMoreChildMassage(subChild)">
                  <img src="{{subChild.category_image}}">
                  <div style="clear:both"></div>
                  <p class="SubCategoryP"> {{subChild.category_name}} </p>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
        <div *ngIf = "showHideMassage" text-center>
          <ion-row>
            <div class = "force">
              <ion-col *ngFor = 'let subChild of subChildMassage; trackBy: index;' class = "hm_border_top_none hm_border_left_none" style = "    width: 33%;float: left;">
                <div class = "hm_service_div" style = "height: 100px!important ;" (click) = "showMoreChildMassage(subChild)">
                  <img src = "{{subChild.category_image}}">
                  <p text-wrap> {{subChild.category_name}} </p>
                </div>
              </ion-col>
            </div>
          </ion-row>
        </div>
        <div style = "clear:both">
        </div>
        <!-- <div *ngIf="showHideMassageChild">
          <div style="width: 100%;height: 120px;margin-top: 26px;">
            <ul>
              <li *ngFor='let subSubChild of subSubChildMassage; trackBy: index;'>
                <div class="hm_service_div">
                  <img src="{{subSubChild.product_image}}">
                  <div style="clear:both"></div>
                  <div style="width:104%">
                    <p class="SubCategoryP"> {{subSubChild.product_name}} </p>
                    <button class="hm_service_btn bleft" (click)="add(subSubChild)">
                      <span class="cPlus"> + </span>
                    </button>
                    <span style="margin-left: 1px;">{{subSubChild.qty}}</span>
                    <button class="hm_service_btn bright" (click)="sub(subSubChild)">
                      <span class="cMinus">-</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <ion-list>
            <ion-item text-wrap>
              <span>
                <img src="assets/img/cart.png" style="height:30px;width:30px;"> With Tool Total Price
                <b>RM {{price}}.00 </b>
              </span>
            </ion-item>
            <button ion-button full style="background-color:#EA5192" (click)="orderInfoM()">
              Next
            </button>
          </ion-list>
        </div> -->
        <div *ngIf = "showHideMassageChild">
          <div style = "width: 100%;height: 120px;">
            <ul [hidden] = "dontShowPlusButtons" style = "width: 100%;padding: 18px;" text-center>
              <li *ngFor = 'let subSub of subSubChildMassage; trackBy: index; let i =index '>
                <div class = "hm_service_div subproductcustom">
                  <img src = "{{subSub.product_image}}">
                  <p> {{subSub.product_name}} </p>
                </div>
                <button class = "hm_service_btn" (click) = "add(subSub)">+</button>
                {{subSub.qty}}
                <button class = "hm_service_btn" (click) = "sub(subSub)">-</button>
              </li>
            </ul>
            <ul [hidden] = "!dontShowPlusButtons" style = "width: 100%;padding: 18px;">
              <li *ngFor = 'let subSub of inHouseService; let i= index; trackBy: index;' (click) = "addThisItem($event,subSub)">
                <div class = "hm_service_div">
                  <img src = "{{subSub.product_image}}">
                  <p> {{subSub.product_name}} </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-item text-wrap>
        <span>
          <img src = "assets/img/cart.png" style = "height:30px;width:30px;"> With Tool Total Price
          <b>RM {{price}}.00 </b>
        </span>
      </ion-item>
      <button *ngIf = 'enableNextBtn==true' ion-button full style = "background-color:#EA5192" (click) = "orderInfoM()">
        Next
      </button>
      <button *ngIf = 'enableNextBtn!=true' disabled ion-button full style = "background-color:#EA5192">
        Next
      </button>
    </ion-list>
  </ion-toolbar>
</ion-footer>
