page-orderDetailsHistroy {
.hm_message_div ul li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #C8C8C8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px !important;
    padding-right: 4px !important;
}
.pmargin{
    margin: 0 !important;
}
}
